# dependencies
node_modules/

# build files
dist/

# environment variables
.env
.env.local
.env.*.local

# uploads (for local multer)
uploads/

# logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# system
.DS_Store
Thumbs.db
